
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mentaldoctor?useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    username: root
    password: 123456

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
    database: mysql
server:
  port: 8081